{% extends "base.html" %}

{% block title_content %}
Your Orders
{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'order_history' %}" style="float: right; margin:20px; border:1px; color: #000;">Order History</a>
    <h1>Your Orders</h1>
    {% if orders %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Delivery Method</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.order_number }}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.total_price }}</td>
                        <td>{{ order.delivery_method }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <a href="{% url 'order_details_view' order.order_number %}" class="btn btn-info">View Details</a>
                            {% if order.status == 'pending' %}
                                <a href="{% url 'cancel_order' order.order_number %}" class="btn btn-danger">
                                    Cancel Order
                                </a>
                                <a href="{% url 'invoice_generation' order.order_number %}" style="padding: 10px;">
                                    Download Invoice (PDF)
                                </a>
                            {% endif %}
                            <br>            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
</div>
{% endblock %}

{% block extra_css %}
<style>
    .table {
        width: 100%;
        margin-top: 20px;
    }
    .table th, .table td {
        text-align: center;
    }
    .btn {
        margin: 5px;
    }
</style>
{% endblock %}
