{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Profile</title>
  <link rel="stylesheet" href="{% static "css/edit_profile.css" %}">
</head>
<body>

  <nav class="navbar">
    <li>
      <a href="{% url 'profile' %}" title="Profile">🙎‍♂️</a>
      <span>Profile</span>
    </li>
    <li>
      <a href="{% url 'logout' %}" title="Logout">🚪</a>
      <span>Logout</span>
    </li>
  </nav>

  <div class="container">
    <h1>Edit Profile</h1>
    <p class="greeting">Welcome, {{ user.username }}!</p>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit">Save Changes</button>
    </form>
  </div>

</body>
</html>
