<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div>
        <nav class="navbar" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #24afff; border-bottom: 1px solid #ddd; border-radius: 5px; margin-bottom: 20px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
            <ul style="list-style: none; display: flex; gap: 20px; align-items: center; margin: 0;">
                <li><a href="{% url 'home' %}" title="Home" style="font-size: 24px; text-decoration: none;">🏠</a></li>
                <li><a href="{% url 'cart' %}" title="Cart" style="font-size: 24px; text-decoration: none;">🛒</a></li>
                <li><a href="{% url 'orders' %}" title="Orders" style="font-size: 24px; text-decoration: none;">🚚</a></li>
            </ul>
            <ul style="list-style: none; display: flex; gap: 20px; align-items: center; margin: 0;">
                    <li><a href="{% url 'order_history' %}" title="Order History" style="font-size: 24px; text-decoration: none;">🎉</a></li>
                    <li><a href="{% url 'wishlist' %}" title="Wishlist" style="font-size: 24px; text-decoration: none;">🎁</a></li>
                    <li><a href="{% url 'profile' %}" title="Profile" style="font-size: 24px; text-decoration: none;">🙎‍♂️</a></li>
                    <li><a href="{% url 'logout' %}" title="Logout" style="font-size: 24px; text-decoration: none;">🚀</a></li>
            </ul>
        </nav>

        <div>
            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>
</body>
</html>